<!DOCTYPE html>
<html>
    <head>
        <title>HTml to PDF</title>
        <link rel='stylesheet' href='http://localhost:3000/stylesheets/style.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
<body>
    <div id="invoice">
        <!--Toolbar để in hoặc xuất file!-->
       
    
        <!--Hóa đơn goes here ?-->
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
              <header>
                <div class="row">
                  <div class="col hoadon-intro">
                      <div class ="hoadon-details">
                          <img style="float :left !important;" src="http://localhost:3000/images/Untitled.png"/>
                          <a class="Mauso">Mẫu số:01GTKT0/001</a>                    
                          <br/>
                          <a>Ký hiệu :YL/19E</a>
                          <br/>
                          <a style="color : red; font-weight: bold;">Số: 0000223</a>
                          </div>
                    <h1 >Hóa đơn giá trị gia tăng</h1>
                    <h3>Ngày 28/03/2019</h3>

                  </div>
                </div>
              </header>
              <main>
                <div class="row contacts">
                    <div class="col Seller-info">
                        <h4 class="to">Đơn vị bán hàng: <span style="padding-left: 25px">Công ty TNHH Ysl International</span> </h4>
                        <!--Tạo cái vòng lặp chỗ này in final code ???????-->
                        <h4 class="to">Mã số thuế:<span style="padding-left: 25px">
                            <span style="border:1px; border-style:solid; border-color:black;">0</span>
                            <span style="border:1px; border-style:solid; border-color:black;">0</span>
                            <span style="border:1px; border-style:solid; border-color:black;">1</span>
                            <span style="border:1px; border-style:solid; border-color:black;">7</span>
                            <span style="border:1px; border-style:solid; border-color:black;">9</span>
                            <span style="border:1px; border-style:solid; border-color:black;">9</span>
                            <span style="border:1px; border-style:solid; border-color:black;">6</span>
                            <span style="border:1px; border-style:solid; border-color:black;">4</span>
                            <span style="border:1px; border-style:solid; border-color:black;">7</span>
                            <span style="border:1px; border-style:solid; border-color:black;">6</span>
                            <span style="padding-left: 5px">
                                <span style="border:1px; border-style:solid; border-color:black;">&nbsp;&nbsp;&nbsp;</span>
                                <span style="border:1px; border-style:solid; border-color:black;">&nbsp;&nbsp;&nbsp;</span>
                                <span style="border:1px; border-style:solid; border-color:black;">&nbsp;&nbsp;&nbsp;</span>
                              </span>
                          </span> 
                        </h4>
      
                        <div class="address"><h4 class="to">Địa chỉ:  <span style="padding-left: 25px">Số 36D, phố Dịch Vọng Hậu, tổ 27, P. Dịch Vọng Hậu, Q. Cầu Giấy, TP. Hà Nội</span></h4></div>
                        <div class="address"><h4 class="to">Số tài khoản:  <span style="padding-left: 25px"></span></h4></div>
                        <div class="address"><h4 class="to">Số điện thoại:  <span style="padding-left: 25px"></span></h4></div>
                      </div> 
                </div>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <h4 class="to">Họ tên người mua hàng: <span style="padding-left: 25px"></span> </h4>
                        <h4 class="to">Tên đơn vị: <span style="padding-left: 25px">CÔNG TY CỔ PHẦN TƯ VẤN NHỊP CẦU VÀNG</span> </h4>
                        
                        <!--Tạo cái vòng lặp chỗ này in final code ???????-->
                        <h4 class="to">Mã số thuế:<span style="padding-left: 25px">
                            <span style="border:1px; border-style:solid; border-color:black;">0</span>
                            <span style="border:1px; border-style:solid; border-color:black;">0</span>
                            <span style="border:1px; border-style:solid; border-color:black;">3</span>
                            <span style="border:1px; border-style:solid; border-color:black;">4</span>
                            <span style="border:1px; border-style:solid; border-color:black;">8</span>
                            <span style="border:1px; border-style:solid; border-color:black;">6</span>
                            <span style="border:1px; border-style:solid; border-color:black;">8</span>
                            <span style="border:1px; border-style:solid; border-color:black;">2</span>
                            <span style="border:1px; border-style:solid; border-color:black;">5</span>
                            <span style="border:1px; border-style:solid; border-color:black;">8</span>
                            <span style="padding-left: 5px">
                                <span style="border:1px; border-style:solid; border-color:black;">&nbsp;&nbsp;&nbsp;</span>
                                <span style="border:1px; border-style:solid; border-color:black;">&nbsp;&nbsp;&nbsp;</span>
                                <span style="border:1px; border-style:solid; border-color:black;">&nbsp;&nbsp;&nbsp;</span>
                              </span>
      
                          </span> 
                        </h4>
      
                        <h4 class="to">Địa chỉ:<span style="padding-left: 25px">Lầu 5, Số 25 Bis Nguyễn Thị Minh Khai, P. Bến Nghé, Quận 1, TP Hồ Chí Minh, Việt Nam </span> </h4>
                        <h4 class="to">Số tài khoản:
                            <span style="padding-left: 25px"> Hình thức thanh toán: TM/CK</span> </h4>
                      </div> 
                </div>
                <table border="1.5" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th class="goods text-left">Tên hàng hóa, dịch vụ</th>
                      <th class="dvt text-right">Đơn vị tính</th>
                      <th class="quanity text-right">Số lượng</th>
                      <th class="price text-right">Đơn giá</th>
                      <th class="total text-right">Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="">01</td>
                          <td class="text-center">
                            <h3>
                              2
                            </h3>
                          </td>
                          <td class="text-center">3</td>
                          <td class="text-center">4</td>
                          <td class="text-center"></td>
                          <td class="text-center">6=5x4</td>
                        </tr>
                    <tr>
                      <td class="no">01</td>
                      <td class="text-left">
                        <h3>
                          <a target="_blank" href="#">
                            Tiền phòng                    </a>
                        </h3>
                      </td>
                      <td class="unit">Đêm</td>
                      <td class="qty">5</td>
                      <td class="qty">727.273</td>
                      <td class="total">3.636.364</td>
                    </tr>
                    
                  </tbody>
                  <tfoot border="1.5">
                    <tr>
                      <td colspan="3"></td>
                      <td colspan="2">Cộng tiền hàng:</td>
                      <td>3.636.364</td>
                    </tr>
                    <tr>
                      <td colspan="3"></td>
                      <td colspan="2"><span style="float:left">Thuế suất GTGT:10%</span>Tiền thuế GTGT:</td>
                      <td>363.636</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">Tổng cộng tiền thanh toán:</td>
                        <td>4.000.000</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">Số tiền viết bằng chữ</td>
                        <td>Bốn triệu đồng chẵn</td>                  
                      </tr>
                  </tfoot>
                </table>
                <div class="">
                    <!--<div class="col sinature">
                      <a style="display:inline-flex !important"><strong>Người mua hàng<br>(Ký, họ tên)</strong></a>
                      <a style=" display:inline !important"><strong>Người bán hàng<br><span>(Ký, họ tên,đóng dấu)</span></strong></a>
                    </div>-->
                    <div class="signname">

                        <div class="namebuyer">
                    
                          <p><strong>Người mua hàng</strong></p>
                    
                          <p><i>(Ký, họ tên)</i></p>
                    
                        </div>
                    
                        <div class="nameseller">
                    
                          <p><strong>Người bán hàng</strong></p>
                    
                          <p><i>(Ký, họ tên, đóng dấu)</i></p>
                    
                        </div>
                    
                      </div>
                    
                </div>
              </main>
             
              <footer>
                  (Cần kiểm tra, đối chiếu khi lập, giao, nhận hóa đơn)
              </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
          </div>
      </div>
    
  </body>

</html>